* {
  margin: 0;
}

.wrapper {
  padding: 20px;
}

.App {
  background: white;
  margin: 2em auto;
  padding: 10px;
  width: 80%;
  border-radius: 1em;
  max-width: 750px;
}

.logo {
  margin: 0;
  padding: 0;
  width: 200px;
}

header {
  display: flex;
}

.header-right {
  margin-left: auto;
}

button {
  background-color: rgb(197, 197, 197);
  padding: 5px 5px;
  font-size: 16;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 6px;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  background-color: rgb(197, 197, 197);
}


.header-btns {
  padding: 10px 5px;
  margin: 10px;
}

.header-btns:hover {
  background-color: #f37820;
  border-color: rgb(129, 129, 129);
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  
}

.save-pw-btn {
  background-color: rgb(73, 145, 252);
  width: fit-content;
  font-weight: bold;
  padding: .75em;
  border: 1px solid rgb(156, 156, 156);
}

.close-popup-btn {
  font-weight: bold;
  position: absolute;
  right: -.8em;
  top: -.85em;
  border: 1px inset gray;
  border-radius: 100%;
  width: 1.75em;
  height: 1.75em;
  line-height: 0;
  background-color: rgb(252, 141, 141);
  color: black;
}

.close-popup-btn:hover {
  background-color: rgb(255, 66, 66);
  border: 1px outset gray;
}

.divider {
  display: block;
  border-bottom: 2px solid #dbd9d9;
  border-radius: 1em;
  height: 1px;
  margin: 5 0 5 0;
}

.mobileOnly {
  display: none;
}

.relposition {
  position: relative;
}

.btn-with-alert {
  position: relative;
}

.alert-icon-container {
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: -5px;
  top: -10px;
  line-height: 0px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 100%;
}

.alert-icon {
  width: 15px;

  filter: invert(27%) sepia(89%) saturate(4476%) hue-rotate(347deg) brightness(106%) contrast(99%);
  
}

.note {
  color: gray;
  font-size: smaller;
}

.red {
  color: red;
}

.italics {  
  font-style: italic;
}
  
.orange-btn {
  background-color: #f37820e0;
  border: 2px outset rgb(182, 182, 182);
}

.orange-btn:hover {
  border: 2px inset rgb(0, 0, 0);
}

.file-table {
  border: 3px outset gray;
  border-radius: 1em;
}

.file-table td {
  text-align: center;
  vertical-align: middle;
}

.app-while-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000050;
}

.popup {
  position: relative;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  max-width:fit-content;
  margin-top: calc(100vh - 85vh - 20px);
  border-radius: 10px; 
  padding: 20px;
  border: 2px outset black;
  overflow: visible; 
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: .5em 0;
  flex-wrap: wrap;
}
.flexrow input {
  align-self: flex-start;
}
.flexrow label {
  width: 13em;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.welcome-header {
  text-align: right;
  font-size: small;
  font-weight: normal;
  color: #003c52;
  font-style:italic;
}

.project-selector-container{
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}
.project-selector-label{
  margin-bottom: 3px;
  font-size: large;
  color: #003c52;
  letter-spacing: 1px;
}
.project-selector-list{
  width: fit-content;
  text-decoration: none;
  font-size: large;
  background-color: white;
  height: 3em;
  border-radius: 5px;
  border-width: 1px;
  color:rgb(70, 70, 70);
  letter-spacing: 1px;
}

.project-details {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 11em;
}

.project-details p {
  margin-bottom: 1em;
  color:rgb(107, 107, 107);
  overflow-wrap: break-word;
}
.project-details h4 {
  color:#005877;
}

@media screen and (max-width: 720px) {
  
  .mobileOnly{
    display: block;
  }

  .header-btns {
    display: none;
  }

  .file-container {
    display: none;
  }

  .nav-toggle {
    width: 30px;
    margin: 1em;
  }

  .nav-btn {
    /* fiters generated by: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(72%) sepia(22%) saturate(0%) hue-rotate(177deg) brightness(109%) contrast(90%);
  }

  .close-nav-btn {
    /* fiters generated by: https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(72%) sepia(22%) saturate(0%) hue-rotate(177deg) brightness(109%) contrast(90%);
  }

  .nav-toggle:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .nav-list {
    position: absolute;
    text-align: right;
    text-decoration: none;
    list-style-type: none;
    transform: translateX(-80%);
    
  }

  .nav-list-item a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    width: 250px;
    padding-top: .5em;
    padding-bottom: .5em;
    color: rgb(243, 243, 243);
    margin-bottom: 1em;
    padding-right: 5px;
    background-image: linear-gradient(to right, rgba(248, 248, 248, 0), rgba(126,126,126, 0) 30%, rgb(126, 126, 126) 60%, rgb(126, 126, 126) 99%, rgba(248, 248, 248, 0));
    animation: fadeIn linear .2s;
    -webkit-animation: fadeIn linear .2s;
    -moz-animation: fadeIn linear .2s;
    -o-animation: fadeIn linear .2s;
    -ms-animation: fadeIn linear .2s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .project-details{
    flex-wrap: nowrap;
    height: auto;
  }

}